body {
}
nav#sitenav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 0.8in;
  margin: 0px;
  background: black;
  color: white;
  font-family: 'Open Sans Condensed', Arial, Helvetica;
  z-index: 999;
}
nav#sitenav a, nav#sitenav a:visited {
  display: block;
  text-decoration: none;
  color: #e2e2e2;
  padding-top: 8px;
  padding-bottom: 8px;
}
nav#sitenav a.expanded {
  color: #cfb53b;
  background-color: #333;
}
nav#sitenav a:active, nav#sitenav a:hover {
  color: gold;
}
nav ul {
  padding-left: 0px;
  margin: 0px;
}
nav li {
  list-style: none outside none;
  color: #e2e2e2;
  display: block;
  text-decoration: none;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #777;
}
nav#search-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0.8in;
  width: 3in;
  margin-left: -6in;
  display: none;
  background: rgba( 70,70,70,.7);
  z-index: 400;
}
ul.sub-nav-items li.nav-item {
  border-bottom: 1px solid #777;
  padding: 0.1in;
}
nav ul.sub-nav-items li.nav-header {
  background: rgba(50,50,50,.7);
  border-bottom: #646464;
  height: 0.5in;
}
nav .nav-header {
  height: 0.9in;
  padding: 0.4in 0;
  vertical-align: center;
}
nav#sitenav .nav-header h1 {
  transform: rotate(270deg);
}
div#content {
  margin-left: .8in;
  padding: 0.1in;
}
nav input {
  border: 1px solid #646464;
  background: papayawhip;
  color: #333;
  font-size: 14pt;
}
nav ul.nav-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0.8in;
}
nav ul.nav-footer li.nav-item {
  border-bottom: none;
  border-top: 1px solid #777;
}
